.header{
    padding: 10px;
    color: white;
}
.header nav{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 40px;
}
.header nav a{
    margin: 5px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
}
.header nav a:hover{
    background-color: rgba(88, 88, 88, 0.555);
}
.header span{
    color: crimson;
}
.header h1{
    font-size: 40px;
}
.header p{
    font-size: 16px;
}