.applicant {
    background-color: rgba(226, 255, 249, 0.4);
    margin: 10px;
    padding: 20px;
    text-align: justify;
    border-radius: 20px;
    border: 1px solid silver;
}
.applicant img{
    width: 170px;
    height: 170px;
    border-radius: 100%;
}
.applicant button{
    padding: 8px 12px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #d8d7d7a4;
    color: rgb(63, 63, 63);
    font-weight: bold;
}
.applicant button:hover{
    background-color: rgba(128, 128, 128, 0.596);
    color: white;
}
